name: Renovate
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v44.0.3
        with:
          configurationFile: renovate-global.json
          token: ${{ secrets.RENOVATE_TOKEN }}
